{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
<div class="container">
    <h1>Account</h1>
    <div class="row">
        <div class="col-9">
            {% block account %}

            {% endblock %}
        </div>
        <div class="col-3">
            <div class="row">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChangePasswordModal">
                    change password
                </button>
            </div>
            <hr>
            <div class="row">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeNameModal">
                    change name
                </button>
            </div>
            <hr>
            <div class="row">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ChangeContactInfoModal">
                    change contact info
                </button>
            </div>

            <hr>
            <div class="row">
                <a  class="btn btn-primary" href="{{ path('identity_change_contact_info-2') }}" data-sideclick-modal-trigger>new change contact info</a>


            </div>


        </div>
    </div>
</div>

<!-- Modal ChangeName-->
<div class="modal fade" id="changeNameModal" tabindex="-1" role="dialog" aria-labelledby="changeNameLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeNameLabel">Change personal name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ render(controller('ProAppointments\\IdentityAccess\\Infrastructure\\Symfony\\Controller\\ChangeNameController::changeNameAction')) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {#<button type="button" class="btn btn-primary">Save changes</button>#}
            </div>
        </div>
    </div>
</div>
<!-- Modal ChangePassword -->
<div class="modal fade" id="ChangePasswordModal" tabindex="-1" role="dialog" aria-labelledby="ChangePasswordLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ChangePasswordLabel">Change password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ render(controller('ProAppointments\\IdentityAccess\\Infrastructure\\Symfony\\Controller\\ChangePasswordController::changePasswordAction')) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {#<button type="button" class="btn btn-primary">Save changes</button>#}
            </div>
        </div>
    </div>
</div>
    <!-- Modal ChangeContactInfo -->
    <div class="modal fade" id="ChangeContactInfoModal" tabindex="-1" role="dialog" aria-labelledby="ChangeContactInfoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ChangeContactInfoLabel">Change contact information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ render(controller('ProAppointments\\IdentityAccess\\Infrastructure\\Symfony\\Controller\\ChangeContactInfoController::changeContactInfoAction')) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {#<button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>


<div class="modal fade" id="emptyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-async data-target="#emptyModal">
    <div class="modal-dialog">
    </div>
</div>





{% endblock %}

{% block javascripts %}
{#    <script src="{{ asset('bundles/sideclickbootstrapmodal/js/sideclick-bootstrap-modal.js') }}"></script>#}
    <script src="http://127.0.0.1:8080/bundles/sideclickbootstrapmodal/js/sideclick-bootstrap-modal.js"></script>
{% endblock %}